.headline {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 700;
  color: rgb(50,50,50);
  &--small{
    font-size: 24px;
  }
  &--medium{
    font-size: 30px;
  }
  &--large{
    font-size: 40px;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: rgb(50,50,50);
  &--small{
    font-size: 15px;
  }
  &--medium{
    font-size: 18px;
  }
  &--large{
    font-size: 22px;
  }
}

.link {
  text-decoration: none;
  color: rgb(50, 50, 50);
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
